@{
    ViewBag.Title = "业绩列表";
}
@using LY.EMIS5.BLL;
@section Script{
<style type="text/css">
    @@media only screen and (max-width: 800px) {
        table td:nth-child(1),
        table th:nth-child(1),
        table td:nth-child(3),
        table th:nth-child(3),
        table td:nth-child(4),
        table th:nth-child(4),
        table td:nth-child(5),
        table th:nth-child(5),
        table td:nth-child(6),
        table th:nth-child(6),
        table td:nth-child(7),
        table th:nth-child(7) {
            display: none;
        }

        table td:nth-child(2), table th:nth-child(2) {
            width: 65%;
            overflow: hidden;
            text-overflow: ellipsis; /*以省略号替代截除部分*/
            white-space: nowrap;
        }
    }
</style>
    <script type="text/javascript">
        var table = null;
        $(function () {
            table = $('#dynamic-table').dataTable({
                "bServerSide": true,
                "bLengthChange": false,
                "sAjaxSource": "/Achievement/Index",
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "company", "value": $("[name=\"company\"]").val() });
                }, "aoColumns": [{ "mData": "Id" },
                      { "mData": "ProjectName" },
                      { "mData": "Scale" },
                      { "mData": "StartDate" },
                      { "mData": "EndDate" },
                      { "mData": "ProjectManager" },
                      { "mData": "Type" },
                      { "mData": "Company" },
                      { "mData": "Id" }
                ], "bFilter": false, "bSort": false,
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td:eq(1)', nRow).addClass('text-left');
                    $('td:eq(8)', nRow).html("<a href=\"/Achievement/View/" + aData.Id + "\">查看</a>");
                    if ('@(ManagerImp.Current.Kind == "管理员" || ManagerImp.Current.Kind == "资料员")'=='True') {
                        $('td:eq(8)', nRow).append(' <a href="/Achievement/Create/' + aData.Id + '">编辑</a> <a onclick="Delete(' + aData.Id + ')" href="javascript:;">删除</a>');
                    }
                     
                   
                }
            });
            //搜索
            $(".sreach").click(function () {
                table.dataTable().fnAdjustColumnSizing();
            });

            $(".import").click(function () {
                location.href = "/Home/Upload?name=业绩"
            });

            $('.create').click(function(){
                location.href = "/Achievement/Create";
            });
           
            
        });
        function Delete(id) {
            $.myDialog('confirm', '确认要该数据吗？', 'confirm', function (dialog) {
                dialog.modal('hide');
                location.href = "/Achievement/Delete/" + id;
            })
        }
    </script>
}

<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    业绩列表
                    <span class="tools pull-right form-inline">
                       @Html.DropDownList("company", ViewBag.Companys as List<SelectListItem>, "公司选择", new { @class = "form-control" })
                        <input type="button" class="btn btn-default sreach" value="搜索" />
                        @if (ManagerImp.Current.Kind == "管理员" || ManagerImp.Current.Kind == "资料员")
                        {
                            <input type="button" class="btn btn-default create" value="添加" />
                            <input type="button" class="btn btn-default import" value="导入" />
                        }
                        
                    </span>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table class="display table table-bordered table-striped" id="dynamic-table">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>项目名称</th>
                                    <th>规模</th>
                                    <th>开工时间</th>
                                    <th>竣工时间</th>
                                    <th>项目经理</th>
                                    <th>类型</th>
                                    <th>公司</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
   
</div>
<!--body wrapper end-->