@{
    ViewBag.Title = "备案列表";
}
@using LY.EMIS5.BLL;
@section Script{
    <script type="text/javascript">
        var table = null;
        $(function () {
            table = $('#dynamic-table').dataTable({
                "bServerSide": true,
                "bLengthChange": false,
                "sAjaxSource": "/Records/Index",
                "fnServerParams": function (aoData) {
                   
                }, "aoColumns": [{ "mData": "Id" },
                      { "mData": "Area" },
                      { "mData": "IsRecord" },
                      { "mData": "WebSite" },
                      { "mData": "Username" },
                      { "mData": "Password" },
                      { "mData": "Phone" }, { "mData": "Situation" }, { "mData": "Date" }, { "mData": "Remarks" },
                      { "mData": "Id" }
                ], "bFilter": false, "bSort": false,
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td:eq(10)', nRow).html("<a href=\"/News/View/" + aData.Id + "\">查看</a>");
                    if (aData.Edit) {
                        $('td:eq(10)', nRow).append(' <a href="/Records/Create/' + aData.Id + '">编辑</a> <a onclick="Delete(' + aData.Id + ')" href="javascript:;">删除</a>');
                    }
                     
                   
                }
            });
            //搜索
            $(".sreach").click(function () {
                table.dataTable().fnAdjustColumnSizing();
            });

            $('.create').click(function(){
                location.href = "/Records/Create";
            });
           
           
        });
        function Delete(id) {
            $.myDialog('confirm', '确认要该数据吗？', 'confirm', function (dialog) {
                dialog.modal('hide');
                location.href = "/Records/Delete/" + id;
            })
        }
    </script>
}

<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    备案列表
                    <span class="tools pull-right form-inline">
                        <input type="button" class="btn btn-default create" value="添加" />
                    </span>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table class="display table table-bordered table-striped" id="dynamic-table">
                            <thead>
                                <tr><th>编号</th>
                                    <th>区域</th>
                                    <th>是否备案</th>
                                    <th>网址</th>
                                    <th>登录名</th>
                                    <th>密码</th>
                                    <th>电话</th><th>备案情况</th><th>备案时间</th><th>备注</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
   
</div>
<!--body wrapper end-->