@using LY.EMIS5.Entities.Core.Memberships;
@using LY.EMIS5.Const;
@using LY.EMIS5.Common.Extensions;
@using LY.EMIS5.Common.Const;


@{
    ViewBag.Title = "修改密码";
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                修改密码
            </header>
            <div class="panel-body">
                <form class="form-horizontal adminex-form" method="post">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">原密码</label>
                        <div class="col-sm-10">
                            @Html.Password("oldpassword", "", new { @class = "form-control required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">新密码</label>
                        <div class="col-sm-10">
                           @Html.Password("newpassword","", new { @class = "form-control required password" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">重复密码</label>
                        <div class="col-sm-10">
                            @Html.Password("repassword", "", new { @class = "form-control required repassword" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-primary" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>