@{
    ViewBag.Title = "管理员列表";
}
@using LY.EMIS5.BLL;
@section Script{
    <script type="text/javascript">
        var table = null;
        $(function () {
            table = $('#dynamic-table').dataTable({
                "bServerSide": true,
                "bLengthChange": false,
                "sAjaxSource": "/Manager/Index",
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "txt", "value": $("#txt").val() });
                }, "aoColumns": [
                      { "mData": "Name" },
                      { "mData": "UserName" },
                      { "mData": "Phone" },
                      { "mData": "Email" },
                      { "mData": "Roles" },
                      { "mData": "Stat" },
                      { "mData": "Id" }
                ], "bFilter": false, "bSort": false,
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('td:eq(2)', nRow).addClass("hidden-phone");
                    $('td:eq(3)', nRow).addClass("hidden-phone");
                    $('td:eq(4)', nRow).addClass("hidden-phone");
                        $('td:eq(5)', nRow).html("<a onclick='Enabled(this)' rel='" + aData.Id + "' href=\"#\">" + aData.Stat + "</a>");
                        $('td:eq(6)', nRow).html("<a href=\"/Manager/Edit/"+aData.Id+"\">编辑</a> <a onclick='Reset(\"/Manager/Reset/" + aData.Id + "\")'  href=\"#\">重置密码</a>");
                   
                }
            });
            //搜索
            $(".sreach").click(function () {
                table.dataTable().fnAdjustColumnSizing();
            });

            $('.create').click(function(){
                location.href="/Manager/Create";
            });
           
        });
        function Reset(href) {
            $.myDialog('confirm', '确认要重置该用户的密码吗？', 'confirm', function (dialog) {
                dialog.modal('hide');
                $.get(href, function () {
                           
                })
            })
        }
        function Enabled(obj) {
            var b = $(obj).text();
            $.myDialog('confirm', '确认要' + (b == "启用" ? "禁用" : "启用") + '吗？', 'confirm', function (dialog) {
                dialog.modal('hide');
                $.get("/Manager/Enabled/" + $(obj).attr("rel") + "?t=" + new Date(), function (dialog) {
                    $(obj).text((b == "启用" ? "禁用" : "启用"));
                })
            })
        }

    </script>
}

<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    管理员列表
                    <span class="tools pull-right form-inline">
                        <input type="text" id="txt" value="@Request["txt"]" class="form-control" placeholder="管理员姓名" />
                        <input type="button" class="btn btn-default sreach" value="搜索" />
                        <input type="button" class="btn btn-default create" value="添加" />
                    </span>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table class="display table table-bordered table-striped" id="dynamic-table">
                            <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>账号</th>
                                    <th class="hidden-phone">电话号码</th>
                                    <th class="hidden-phone">公司</th>
                                    <th class="hidden-phone">角色类型</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
   
</div>
<!--body wrapper end-->