@using LY.EMIS5.Entities.Core.Memberships;
@using LY.EMIS5.Common;

@model News
@{
    ViewBag.Title = "查看公告";
}@section Script
{

}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                公告信息
            </header>
            <div class="panel-body">
                <h3 style="text-align:center">@Model.Title</h3>
                <h5 style="text-align:center">@Model.Manager.Name    @Model.CreateDate.ToChineseDateString()</h5>
                @Model.Content
               </div> 
            </section>
        </div>
    </div>