/* 后台界面样式 1212*/
BODY {
    font-family: "微软雅黑","宋体";
    margin: 0px;
    padding: 0px;
    margin: 0 auto;
}
table { width:100%
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, p {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 12px;
    font-weight: normal;
}

u {
    text-decoration: none;
    font-style: normal;
}

ol, ul {
    list-style: none;
}

li {
    list-style-type: none;
}

img {
    border: 0;
}

a {
    text-decoration: none;
}

/**************************************************** login ********************************************************/

.login {
    background: url(images/loginbg.jpg) no-repeat;
    width: 827px;
    height: 646px;
    margin: 0 auto;
}

    .login h1 {
        text-align: center;
        padding-top: 170px;
        font-size: 28px;
        font-weight: bold;
        color: #5099cc;
        text-shadow: 1px 1px 2px #7dbe26;
    }

.denglu {
    width: 380px;
    margin: 0 auto;
    margin-top: 40px;
}

    .denglu p {
        color: #6e6e6e;
        font-weight: bold;
    }

    .denglu table {
        width: 380px;
        margin: 0 auto;
        margin-top: 10px;
        font-size: 14px;
        color: #6e6e6e;
    }

        .denglu table td {
            line-height: 30px;
        }

.textr {
    text-align: right;
}

.textl {
    text-align: left;
}

.inputt {
    height: 20px;
    line-height: 20px;
    width: 150px;
}

.inputdl {
    padding: 0 22px;
    _padding: 0 12px;
    height: 25px;
    line-height: 25px;
    background: #3f5e7b;
    color: #fff;
    border: none;
}

    .inputdl:hover {
        outline: 1px solid #009900;
    }

.marginr {
    margin-right: 10px;
}

.biank {
    padding: 10px 0;
    border: 1px solid #d6e9c6;
    background: #dff0d8;
}

    .biank .biaot {
        padding-left: 30px;
        color: #468847;
    }

    .biank input {
        margin-left: 30px;
    }

.biank1 {
    border: 1px dotted #e2e2e2;
}

.biank2 {
    padding: 10px 0;
    border: 1px solid #60a6d4;
    background: #6fb3e0;
}

    .biank2 .biaot {
        padding-left: 30px;
        color: #1b4d6e;
    }

.kong {
    clear: both;
    height: 10px;
}

.right {
    float: right;
}
/*按钮
    .button{ border:none; color:#fff; line-height:24px; font-size:14px; padding:0 20px; background:#d15b47; border:5px solid #d15b47}
.button:hover{ background:#bd362f;}*/
.button1 {
    border: none;
    color: #fff;
    line-height: 18px;
    font-size: 14px;
    padding: 0 10px;
    background: #6fb3e0;
    border: 4px solid #6fb3e0;
}

    .button1:hover {
        background: #4f99c6;
    }

.weizhi {
    border-bottom: 1px dotted #3294c8;
}

    .weizhi h1 {
        display: inline;
        line-height: 35px;
        padding:5px 10px;
        border-left: 3px solid #3294c8;
    }
.left {
    float:left;
}
    .weizhi span {
        padding: 3px 0;
    }

.font14 {
    font-size: 14px;
}

.fontw {
    font-weight: bold;
}

.lanse {
    color: #2679b5;
}

.lvse {
    color: #006666;
}

.table {
    background: #e2e2e2;
    font-size: 12px;
}

    .table tr.table-top {
        font-weight: bold;
        background: url("images/th-bg.gif");
        height: 30px;
    }

table tr.tab_top td {
    font-weight: bold;
}

.table td {
    background: #fff;
    line-height: 24px;
    text-align: center;
}

table tr td {
    line-height: 30px;
    height: 30px;
}

table tr.backcolor td {
    background-color: #f7fdff;
}

table tr.tablehui td {
    background: #f9f9f9;
}

.table1 {
    background: #e2e2e2;
    font-size: 12px;
    border-collapse: separate;
    border-spacing: 1px;
}

    .table1 tr.table-top td {
        font-weight: bold;
        background: url("images/th-bg.gif");
        height: 30px;
    }


    .table1 td {
        background: #fff;
        line-height: 24px;
        padding: 0px 1%;
    }

        .table1 td a:hover {
            text-decoration: underline;
        }

table td.textr {
    text-align: right;
    background: #f3fffa !important;
}

table td.wenben-right {
    padding-right: 20px;
}

.inputwh {
    width: 146px;
    height: 16px;
    line-height: 16px;
}

table a {
    color: #2E5B11;
}

.news {
    line-height: 32px;
    background: #f1f9ff;
    border: 1px solid #e5e5e5;
    margin-top: 2px;
    text-indent: 24px;
    font-size: 12px;
    color: #679;
}

    .news a {
        color: #679;
    }

        .news a:hover {
            text-decoration: underline;
        }

.news-x {
    background: #fff;
    border-top: 1px solid #e5e5e5;
    color: #333333;
    padding: 10px 24px;
    text-indent: 0;
    line-height: 24px;
}

.sousuo {
    width: 200px;
    height: 24px;
    line-height: 24px;
}

.sou {
    width: 13px;
    height: 13px;
    background: url(images/sou.png) no-repeat;
    position: relative;
    left: -20px;
    top: 8px;
}

    .sou:hover {
        width: 13px;
        height: 13px;
        background: url(images/sou_h.png) no-repeat;
    }

table {
    font-size: 12px;
    width: 100%;
}

.table-top {
    text-align: center;
}

.table2 td {
    text-align: center;
    font-size: 14px;
}

.kong-2 {
    clear: both;
    height: 2px;
}

.newmenu {
    width: 170px;
    border: 1px dashed #2e8965;
    padding: 10px 10px;
    position: absolute;
}

    .newmenu p {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid #2e8965;
    }

    .newmenu ul {
        margin-top: 10px;
        margin-bottom: 10px;
    }

        .newmenu ul li {
            font-size: 12px;
            width: 120px; /*border-bottom:1px dotted #2e8965;*/
            padding-top: 10px;
        }

            .newmenu ul li a {
                color: #333333;
            }

                .newmenu ul li a:hover {
                    color: #0099FF;
                }

.twomenu {
    padding-left: 18px;
}

.newmenu li .twomenu li {
    clear: both;
    border-bottom: none;
}

.newright {
    _position: absolute;
    margin-left: 230px;
}

/*20130918*/
.tab {
    border-collapse: collapse;
    width: 100%;
    line-height: 30px;
}

    .tab td {
        border: 1px solid #dadcdf;
    }

    .tab tr.table_top td {
        background: #739e00;
        color: #fff;
    }

    .tab .table_h {
        background: #f2f4f8;
    }

.jc {
    font-weight: bold !important;
}

.lanse {
    color: #46b3eb;
}

.kong {
    clear: both;
    height: 10px;
}

.write-l .pq {
    margin-left: 0;
}

.pq {
    margin-left: 28px;
    clear: both;
}

.hongse {
    color: #B70637;
}

.bt_xx {
    width: 7%;
    margin: 0 auto;
    margin-top: 10px;
}

.zdq {
    width: 100%;
    clear: both;
}

    .zdq tr td {
        text-align: left;
    }

.font14 {
    font-size: 12px;
}

.juse {
    color: #f9a93d;
}

.setsendTime {
    display: none;
}

.dis {
    height: 500px;
    overflow: auto;
}

.write-l {
    width: 45%;
    float: left;
    margin-left: 2%;
}

.write-r {
    width: 49%;
    _width: 47%;
    float: left;
    border-left: 2px solid #F8DC7E;
    padding: 0 1%;
}

    .write-r ul {
        padding: 0 0 0 10px;
    }

.write-l .write .bt_xx {
    width: 8%;
}

.write-l .write p {
    text-indent: 10px;
}

.write-l .write img {
    width: 100%;
}

.lanse {
    color: #2199cd;
}

.cont_tab_h td {
    width: 100px;
}

.xxnr{margin-top:10px; padding:4px 10px; overflow: hidden; border: 1px solid #00a3ea; border-radius: 5px; background: #fff;}
.xxnr ul li { float: left; height: 24px; line-height: 24px;}
.xxnr ul li a{ color:#0099FF;}
.xxnr li a{ font-weight:bold}
.xxnr ul li a:hover{ color:#fff; *color:#0099FF;}
.xxnr ul li:hover{ background:#0099FF;}
.manage{ float:left; z-index:996}
.label-dis{ display:inline-block;}
/*成绩导入*/
.cdxz ul {
    padding: 0px 50px;
}

.cdxz li a {
    color: #f9a93d;
    line-height: 37px;
}

.cdxz li {
    float: left;
    padding: 0px 10px;
    text-align: center;
    padding-left: 10px;
}

.cdxz1 li a {
    color: #f9a93d;
    line-height: 37px;
}

    .cdxz1 li a.baise {
        color: #fff;
    }

.baise {
    color: #fff;
}

.cdxz1 li {
    float: left;
    padding: 0px 10px;
    text-align: center;
}

.cz_p {
    line-height: 24px;
    float: left;
    padding-right: 10px;
}

.czbg {
    background: #f9a93d;
}

.cdxz li a.baise {
    color: #fff;
}

.wborder {
    width: 80%;
    border: none;
    border-bottom: 1px solid #333333;
    background-color: rgba(0,0,0,0);
}

.wborder1 {
    width: 60%;
    border: none;
    border: 1px solid #676767;
    background-color: rgba(0,0,0,0);
}

.yiban {
    width: 39%;
}

#main-content {
    height: 600px;
    overflow: auto;
}

.SI_Identities {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .SI_Identities li {
        float: left;
    }

.block-actions {
    height: 10px;
    display: block;
    margin-top: 10px;
}

#content {
    height: 100px;
}

.font-style {
    font-family: "Georgia";
    font-size: 16px;
    font-weight: bold;
}

.yichu {
    float: right;
    width: 60px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    display: inline;
}

    .yichu a {
        color: #0066ff;
    }

    .yichu:hover a {
        color: #fff;
    }

    .yichu:hover {
        background: #0066ff;
        border-radius: 3px;
    }

.today {
    border-radius: 5px;
    border: 1px solid #00a3ea;
    padding: 5px;
}

.height10 {
    height: 10px;
}

.height1 {
    border-bottom: 1px solid #dadbdb;
    width: 100%;
    font-size: 1px;
    display: block;
}

.group-search {
    position: relative;
}

.group-text1 {
    width: 300px;
    height: 24px;
    text-indent: 10px;
    line-height: 24px;
    border-radius: 3px;
    border: 1px solid #bbb;
    padding: 0 !important;
    box-shadow: 1px 1px 2px rgba(0,0,0,.1) inset;
}

.group-search i {
    color: #1ba1e2;
    font-size: 14px;
    line-height: 28px;
    position: absolute;
    top: 0;
    right: 10px;
}

.group-nav-ul {
    height: 25px;
    border-bottom: 1px solid #cecece;
    padding: 0;
    margin: 0;
}

.group-nav li {
    float: left;
    background-color: #eeeeee;
    border: 1px solid #c3c3d6;
    border-bottom: 0px;
    -webkit-border-radius: 2px 2px 0px 0px;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    line-height: 24px;
    margin-right: -1px;
}

    .group-nav li:hover {
        background-color: #fff;
    }

    .group-nav li.group-nav-on {
        background-color: #fff;
        padding-bottom: 1px !important;
        margin-bottom: -1px;
    }

.group-li-h li {
    height: 24px;
}

.biaoti-information {
    padding: 5px 0;
    background: #ddd;
    line-height: 45px;
    border-bottom: 1px solid #d5dae3;
}

.information-in {
    width: 151px;
    height: 30px;
    margin: 0 auto;
    background: #e6eff7;
    border: 1px solid #919191;
    border-radius: 3px;
}

    .information-in li {
        float: left;
        width: 75px;
        height: 30px;
        line-height: 30px;
        position: relative;
        display: inline-block;
    }

        .information-in li:hover {
            background: #ccdff1;
        }

.information-border {
    border-right: 1px solid #C4C4C4;
}

.information-in-img {
    width: 19px;
    height: 19px;
    background: url(../images/information-in.png) no-repeat;
    position: absolute;
    left: 10px;
    top: 6px;
}

.information-out-img {
    width: 19px;
    height: 19px;
    background: url(../images/information-out.png) no-repeat;
    position: absolute;
    left: 10px;
    top: 6px;
}

.information-in-text {
    margin-left: 35px;
    font-weight: bold;
    text-shadow: #fff 0 1px 0;
    color: #3c6692;
}

.information-kb {
    width: 262px;
    height: auto;
    position: absolute;
    right: 20px;
    float: right;
    top: 99px;
    overflow: hidden;
}

    .information-kb .group-people {
        width: 262px;
        height:550px;
        border: 0;
    }

.group-people li{  line-height:24px; padding:0 10px;}
.group-people li a{ color:#575757; font-weight:bold;}

.group-people-jt {
    float: right;
    height: 20px;
}
.group-people li:hover{ background:#eee;}
    .information-kb .group-nav-content {
      
        overflow: auto;
        border-top: 0;
        border-radius: 0 0 3px 3px;
    }

    .information-kb .group-nav-ul li {
        width: 129px;
        padding: 0;
        text-align: center;
        font-weight: bold;
    }

    .information-kb .group-search {
        width: 242px;
        margin: 0 auto;
    }

    .information-kb .group-text1 {
        width: 99%;
    }

.information-write {
    position: relative;
    margin-right: 260px;
    top: 5px;
    overflow: hidden;
}

.ff {
    width: 50px;
    height: 29px;
    line-height: 29px;
}

.information-write .group-text1 {
    width: 100%;
    *width: 92%;
    _width: 100%;
    *top: 35px;
    *left: 57px;
}

.paddingtb {
    padding: 5px 0px 5px 2em;
}

.addall {
    position: absolute;
    top: 2px;
    right: 5px;
    padding: 0px 10px;
    height: 24px;
    line-height: 24px;
    font-weight: normal;
}

    .addall a {
        color: #0066ff !important;
    }

    .addall:hover {
        background: #7995C9;
        border-radius: 5px;
    }

        .addall:hover a {
            color: #fff !important;
            _color: #eb8f00;
        }

.spanStu {background:#faf0e6; color:#808000; border: 1px solid #deb887;}
.spanSgroup {background:#ffe4c4; color:#808000; border: 1px solid #deb887;}
.spanSNgroup {background:#d2b48c; color:#808000; border: 1px solid #a7a7a7;}
.spanTea {background:#E7FCE1; color:#638421; border: 1px solid #B6DDB6;}
.spanTgroup {background:#cde69c; color:#638421; border: 1px solid #a5d24a;}
.spanTNgroup {background:#9FCE9F; color:#6B6B03; border: 1px solid #A3A3A3;}
.spanClass {background:#b0c4de; color:#485B94; border: 1px solid #71A6DA;}

.AtTime {
    border: 1px solid #999;
    border-radius: 5px;
    height: 24px;
    line-height: 24px;
}

.list-choose-narrow {
    width: 190px;
    border-right: 1px solid #d5dae3;
    float: left;
}

.hidden {
    overflow: hidden;
}


table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
    text-align:center;
}



css样式

/*CSS green-black style pagination*/

DIV.green-black { padding-right: 3px; padding-left: 3px; padding-bottom: 3px; margin: 3px; padding-top: 3px; text-align: center; }
DIV.green-black A { border-right: #2c2c2c 1px solid; padding-right: 5px; border-top: #2c2c2c 1px solid; padding-left: 5px; background: url(image1.gif) #2c2c2c; padding-bottom: 2px; border-left: #2c2c2c 1px solid; color: #fff; margin-right: 2px; padding-top: 2px; border-bottom: #2c2c2c 1px solid; text-decoration: none; }
DIV.green-black A:hover { border-right: #aad83e 1px solid; border-top: #aad83e 1px solid; background: url(image2.gif) #aad83e; border-left: #aad83e 1px solid; color: #fff; border-bottom: #aad83e 1px solid; }
DIV.green-black A:active { border-right: #aad83e 1px solid; border-top: #aad83e 1px solid; background: url(image2.gif) #aad83e; border-left: #aad83e 1px solid; color: #fff; border-bottom: #aad83e 1px solid; }
DIV.green-black SPAN.current { border-right: #aad83e 1px solid; padding-right: 5px; border-top: #aad83e 1px solid; padding-left: 5px; font-weight: bold; background: url(image2.gif) #aad83e; padding-bottom: 2px; border-left: #aad83e 1px solid; color: #fff; margin-right: 2px; padding-top: 2px; border-bottom: #aad83e 1px solid; }
DIV.green-black SPAN.disabled { border-right: #f3f3f3 1px solid; padding-right: 5px; border-top: #f3f3f3 1px solid; padding-left: 5px; padding-bottom: 2px; border-left: #f3f3f3 1px solid; color: #ccc; margin-right: 2px; padding-top: 2px; border-bottom: #f3f3f3 1px solid; }