<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="appFabricProviderSettings" type="NHibernate.Caches.AppFabric.AppFabricProviderSettings, NHibernate.Caches.AppFabric" />
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere" />
    <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
  </configSections>
  <appFabricProviderSettings CacheType="Named" NamedCacheTypeRegionName="nhibernate" NamedCachesMustExist="false" LockTimeout="30000" LocksRegionName="Locks" />
  <dataCacheClient name="default" requestTimeout="15000" channelOpenTimeout="3000" maxConnectionsToServer="1">
    <localCache isEnabled="true" sync="TimeoutBased" ttlValue="300" objectCount="10000" />
    <clientNotification pollInterval="300" maxQueueLength="10000" />
    <hosts>
      <host name="127.0.0.1" cachePort="22233" />
    </hosts>
    <securityProperties mode="None" protectionLevel="None" />
    <transportProperties connectionBufferSize="131072" maxBufferPoolSize="268435456" maxBufferSize="8388608" maxOutputDelay="2" channelInitializationTimeout="60000" receiveTimeout="600000" />
  </dataCacheClient>
  <memcached protocol="Binary">
    <servers>
      <add address="127.0.0.1" port="11211" />
    </servers>
  </memcached>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>