<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baidu.SDK.Push" version="0.9.0" targetFramework="net45" />
  <package id="CouchbaseNHibernateCache" version="1.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20715.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net45" />
  <package id="NHibernate.Caches.AppFabric" version="1.1.0.0" targetFramework="net45" />
  <package id="NHibernate.Caches.Redis" version="1.3.0.0" targetFramework="net45" />
  <package id="RazorEngine" version="3.2.0" targetFramework="net45" />
  <package id="RestSharp" version="104.4.0" targetFramework="net45" />
  <package id="ServerAppFabric.Client" version="1.1.2106" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net45" />
</packages>