@using LY.EMIS5.Entities.Core.Memberships;
@using LY.EMIS5.BLL;
@using System.Text;

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!--dynamic table-->
    <link rel="stylesheet" href="/Scripts/data-tables/DT_bootstrap.css" />
    <link href="/Content/css/style.css" rel="stylesheet">
    <link href="/Content/css/style-responsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Scripts/bootstrap-datepicker/css/datepicker-custom.css" />
    <link href="/Scripts/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet" />
    <link href="/Content/css/mystyle.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/Scripts/html5shiv.js"></script>
    <script src="/Scripts/respond.min.js"></script>
    <![endif]-->
    <!-- Placed js at the end of the document so the pages load faster -->
    <link rel="stylesheet" href="/Content/css/jquery-ui-1.10.3.css">
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/jquery-ui-1.10.3.min.js"></script>
    <script src="/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/modernizr.min.js"></script>
    <script src="/Scripts/jquery.nicescroll.js"></script>
    <!--dynamic table-->
    <script type="text/javascript" language="javascript" src="/Scripts/advanced-datatable/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/Scripts/data-tables/DT_bootstrap.js"></script>
    <!--dynamic table initialization -->
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/Scripts/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/Scripts/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/Scripts/emis.framewok.js"></script>
    <!--common scripts for all pages-->
    <script src="/Scripts/scripts.js"></script>
    <script src="/Scripts/myUtil.js"></script>
    <style type="text/css">
        ul, li {
            margin: 0;
            padding: 0;
        }

        #scrollDiv {
            height: 50px;
            line-height: 50px;
            overflow: hidden;
            float:left
        }

            #scrollDiv li {
                height: 50px;
                padding-left: 10px;
                color:red;
            }

                #scrollDiv li a {
                    color:red;
                }
    </style>
    <script type="text/javascript">
        $(function () {
            $('.default-date-picker').datepicker({
                format: 'yyyy-mm-dd'
            });
            $(".form_datetime").datetimepicker({ language: 'zh-CN', format: 'yyyy-mm-dd hh:ii' });
            $('.form-horizontal').validate();
            $.post('/News/Top', function (result) {
                $.each(result, function () {
                    $('#scrollDiv ul').append('<li><a href="/News/View/'+this.Id+'">'+this.Title+'</a></li>')
                })
                setInterval('AutoScroll("#scrollDiv")', 2000);
            })
            $.post('/Project/Top', function (result) {
                $('#task').text(result.length);
                $.each(result, function () {
                    $('#task_list').append('<li class="new"><a href="/Project/Audit/' + this.Id + '"><div class="task-info"><div>' + this.ProjectName + '</div></div></a></li>')
                })
            })
        });
        function AutoScroll(obj){
            $(obj).find("ul:first").animate({
                marginTop:"-50px"
            },500,function(){
                $(this).css({marginTop:"0px"}).find("li:first").appendTo(this);
            });
        }
    </script>

    @RenderSection("Script", false)
</head>
<body class="sticky-header">
    <section>
        <!-- left side start-->
        <div class="left-side sticky-left-side">
            <!--logo and iconic logo start-->
            <div class="logo">
                <a href="index.html"><img src="/Content/images/logo.png" alt=""></a>
            </div>
            <div class="logo-icon text-center">
                <a href="index.html"><img src="/Content/images/logo_icon.png" alt=""></a>
            </div>
            <!--logo and iconic logo end-->

            <div class="left-side-inner">
                
                <!--sidebar nav start-->
                <ul class="nav nav-pills nav-stacked custom-nav">
                    @{ if (ManagerImp.Current.Kind == "管理员")
                        {
                            <li class="menu-list">
                                <a href="#"><i class="fa fa-laptop"></i> <span>系统管理</span></a>
                                <ul class="sub-menu-list">
                                    <li><a href="/Company">公司管理</a></li>
                                    <li><a href="/Manager">员工管理</a></li>
                                </ul>
                            </li>
                        }
                    }
                    <li class="menu-list">
                        <a href="#"><i class="fa fa-th-list"></i> <span>项目管理</span></a>
                        <ul class="sub-menu-list">
                            <li><a href="/Project/AuditList">我的项目</a></li>
                            <li><a href="/Project">全部项目</a></li>
                            <li><a href="/Project/Report">项目报表</a></li>
                        </ul>
                    </li>
                    <li class="menu-list">
                        <a href="#"><i class="fa fa-bullhorn"></i> <span>公告管理</span></a>
                        <ul class="sub-menu-list">
                            <li><a href="/News">全部公告</a></li>
                        </ul>
                    </li>
                    <li class="menu-list">
                        <a href="#"><i class="fa fa-trophy"></i> <span>企业信息</span></a>
                        <ul class="sub-menu-list">
                            <li><a href="/Records">备案管理</a></li>
                            <li><a href="/Certificate">证书管理</a></li>
                            <li><a href="/Achievement">业绩管理</a></li>
                            <li><a href="/Aptitude">公司资质</a></li>
                        </ul>
                    </li>
                </ul>
                <!--sidebar nav end-->
            </div>
        </div>
        <!-- left side end-->
        <!-- main content start-->
        <div class="main-content">
            <!-- header section start-->
            <div class="header-section">
                <!--toggle button start-->
                <a class="toggle-btn"><i class="fa fa-bars"></i></a>
                <!--toggle button end-->
                <!--search start-->
                <div id="scrollDiv">
                    <ul>
                        
                    </ul>
                </div>
                <!--search end-->
                <!--notification menu start -->
                <div class="menu-right">
                    <ul class="notification-menu">
                        <li>
                            <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                                <i class="fa fa-tasks"></i>
                                <span id="task" class="badge">0</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-head pull-right">
                                <ul id="task_list" class="dropdown-list user-list">
                                    
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                @ManagerImp.Current.Name
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                @*<li><a href="#"><i class="fa fa-user"></i>  Profile</a></li>*@
                                <li><a href="/Manager/EditPassword"><i class="fa fa-cog"></i>修改密码</a></li>
                                <li><a href="/Home/Logout"><i class="fa fa-sign-out"></i>退出</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--notification menu end -->
            </div>
            <!-- header section end-->
            
          @RenderBody()

        </div>
        <!-- main content end-->
    </section>
</body>

</html>
