.dataTables_info {
   float:left
}
.dataTables_paginate a{
    color:rgb(122, 118, 118);margin:0 3px;
}
table{
    text-align:center
}

.input-group[class*=col-] {
    padding-left: 15px;
    padding-right: 15px;
}