@{
    ViewBag.Title = "我的项目";
}
@using LY.EMIS5.BLL;

@section Script
{
<style type="text/css">
    @@media only screen and (max-width: 800px) {
        table td:nth-child(1),
        table th:nth-child(1),
        table td:nth-child(3),
        table th:nth-child(3),
        table td:nth-child(4),
        table th:nth-child(4),
        table td:nth-child(5),
        table th:nth-child(5),
        table td:nth-child(6),
        table th:nth-child(6),
        table td:nth-child(7),
        table th:nth-child(7),
        table td:nth-child(8),
        table th:nth-child(8),
        table td:nth-child(9),
        table th:nth-child(9),
        table td:nth-child(10),
        table th:nth-child(10),
        table td:nth-child(11),
        table th:nth-child(11) {
            display: none;
        }

        table td:nth-child(2), table th:nth-child(2) {
            width: 65%;
            overflow: hidden;
            text-overflow: ellipsis; /*以省略号替代截除部分*/
            white-space: nowrap;
        }
    }
    table td:nth-child(2), table th:nth-child(2) {
            width: 35%;
           
        }
    
</style>
    <script type="text/javascript">
        var oTable;
        var options = {
            beforeSubmit: function () {
            },
            success: function () {
                oTable.fnAdjustColumnSizing();
            }
        };

        $(function () {
            $('.create').click(function () {
                location.href = "/Project/Create";
            });

            oTable = $('#table-form-list').dataTable({
                "bServerSide": true,
                "bLengthChange": false,
                "sAjaxSource": "/Project/AuditList",
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "name", "value": $("[name=\"name\"]").val() });
                    aoData.push({ "name": "state", "value": $("[name=\"state\"]").val() });
                    aoData.push({ "name": "index", "value": $('#index').val() });
                },
                "aoColumns": [
                { "mData": "Id" },
                      { "mData": "ProjectName", "bSortable": false },
                      { "mData": "Name", "bSortable": false }, { "mData": "Scale" }, { "mData": "Money", "bSortable": false }, { "mData": "Source", "bSortable": false }, { "mData": "ProjectProgress" }, { "mData": "OpenDate" }, { "mData": "EndDate" }, { "mData": "CompanyName" }, { "mData": "CreateDate" },
                      { "mData": "Id", "bSortable": false }
                ], "bFilter": false, "aaSorting": [[7, "asc"]],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    if (aData.Prompt) {
                        $(nRow).css('color', 'red');
                    }
                    $('td:eq(1)', nRow).addClass('text-left').width(100);
                    $('td:eq(11)', nRow).html('');
                    if (aData.Edit || '@(ManagerImp.Current.Kind)' == '资料员') {
                        if (aData.ProjectProgress == '登记项目' )
                            $('td:eq(11)', nRow).append('<a href="/Project/Create/' + aData.Id + '">编辑</a>');
                        else if( '@(ManagerImp.Current.Kind)' == '资料员')
                            $('td:eq(11)', nRow).append('<a href="/Project/Update/' + aData.Id + '">编辑</a>');
                        else
                            $('td:eq(11)', nRow).append('<a href="/Project/Edit/' + aData.Id + '">编辑</a>');
                    } else {
                        $('td:eq(11)', nRow).append('<a href="/Project/View/' + aData.Id + '">查看</a>');
                    }
                    if (aData.Revoke) {
                        $('td:eq(11)', nRow).append(' <a href="#"  onclick="Delete('+aData.Id+')">删除</a>');
                    }
                    if (aData.Audit) {
                        $('td:eq(11)', nRow).append(' <a href="/Project/Audit/' + aData.Id + '">审核</a>');
                    }
                    if (aData.OpenManager == '' && '@(ManagerImp.Current.Kind)' == '资料员') {
                        $('td:eq(11)', nRow).append(' <a href="/Project/SetOpen/' + aData.Id + '">设置开标人</a>');
                    }
                }
            });

            $('.search').click(function () {
                oTable.fnSettings()._iDisplayStart = 0;
                oTable.fnAdjustColumnSizing();
            });

            $('.nav a').click(function () {
                $('#index').val($(this).parent().index());
                oTable.fnSettings()._iDisplayStart = 0;
                oTable.fnAdjustColumnSizing();
            })
        });


        function Delete(id){
            $.myDialog('confirm', '确认要该数据吗？', 'confirm', function (dialog) {
                dialog.modal('hide');
                location.href = "/Project/Delete/" + id;
            })
        }

    </script>
}
<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    我的项目
                    <span class="tools pull-right form-inline">
                        <input type="hidden" id="index" value="0" />
                            <input type="text" class="form-control hidden-phone" name="name" placeholder="请输入项目名称" />
                        
                        @Html.DropDownList("state",ViewBag.ProjectProgresses as SelectList,"全部进度",new { @class="form-control hidden-phone"})
                        <input type="button" class="btn btn-default search hidden-phone" value="搜索" />
                        <input type="button" class="btn btn-default create" value="添加" />
                    </span>
                </header>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#" data-toggle="tab">登记项目</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">待开标项目</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">已开标项目</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">过期项目</a>
                        </li>
                    </ul>
                    <div class="adv-table">
                        <table class="display table table-bordered table-striped" id="table-form-list" cellpadding="0" cellspacing="1">
                            <thead>
                                <tr class="tab_top table-top">
                                    <th>编号</th>
                                    <th>项目名称</th>
                                    <th>业务员</th>
                                    <th>项目规模</th>
                                    <th>保证金金额</th>
                                    <th>保证金来源</th>
                                    <th>项目进度</th>
                                    <th>开标时间</th>
                                    <th>保证金截止时间</th>
                                    <th>公司</th>
                                    <th>登记时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                        </table>
                        
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>
<!--body wrapper end-->